{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/france.css' %}">
    <title>Trip-A-Go!</title>
</head>
<body>
<h1>FRANCE</h1>
<h3>France, in Western Europe, encompasses medieval cities, alpine villages and Mediterranean beaches. Paris, its capital, is famed for its fashion houses, classical art museums including the Louvre and monuments like the Eiffel Tower. The country is also renowned for its wines and sophisticated cuisine. Lascaux’s ancient cave drawings, Lyon’s Roman theater and the vast Palace of Versailles attest to its rich history. </h3>   
<main class="page-content">
    <div class="card">
      <div class="content">
        <h2 class="title">Flights</h2>
        <p class="copy">The country of Romance, Art & Food!</p>
        <a href="#" target="_blank">
            <button class="btn">View Flights</button>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Hotels</h2>
        <p class="copy">Luxirious and Cozy!</p>
        <button class="btn">View Stays</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Destinations</h2>
        <p class="copy">Roam the cities, and local roades, without getting lost!</p>
        <button class="btn">Show Me</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Restaurants</h2>
        <p class="copy">Check out these mouth watering cuisines!</p>
        <button class="btn">Take me There</button>
      </div>
    </div>
  </main>
</body>
</html>