{% load static %}

<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <h1>
            Your Journey Starts Here
        </h1>
        <div class="grid-wrapper">
            <div>
                <img src="https://i02.appmifile.com/images/2019/02/08/4d7f9a64-e89f-49fd-94f1-599285323fdd.jpg" alt="">
            </div>
            <div>
                <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/37eb4e63633217.5ab75a72ec6d9.jpg" alt="">
            </div>
            <div>
                <img src="https://live.staticflickr.com/65535/49675866667_9ddefb5fd8_b.jpg" alt="">
            </div>
            <div>
                <img src="https://images.hive.blog/0x0/https://files.peakd.com/file/peakd-hive/rhianmaker/243qAmK5jBr2wreygaDcLNn7CendnL5XkdejfD1uMDfVvdtqefCSx2hWDVYE5443PUvp5.png" alt="">
            </div>
            <div>
                <img src="https://i02.appmifile.com/images/2019/02/08/f4dd195f-cbb4-46df-a898-3ecf7f570ff1.jpg" alt="">
            </div>
        </div>
        <a href="login.html" target="_blank">
            <button type="submit" class="btn">Login</button>
        </a>
    </body>
</html>