{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/switzerland.css' %}">
    <title>Trip-A-Go!</title>
</head>
<body>
<h1>Switzerland</h1>
<h3>Switzerland is a mountainous Central European country, home to numerous lakes, villages and the high peaks of the Alps. Its cities contain medieval quarters, with landmarks like capital Bern’s Zytglogge clock tower and Lucerne’s wooden chapel bridge. The country is also known for its ski resorts and hiking trails. Banking and finance are key industries, and Swiss watches and chocolate are world renowned. </h3>   
<main class="page-content">
    <div class="card">
      <div class="content">
        <h2 class="title">Flights</h2>
        <p class="copy">The country of Romance, Art & Food!</p>
        <a href="bookingpagefrance.html" target="_blank">
            <button class="btn">View Flights</button>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Hotels</h2>
        <p class="copy">Luxirious and Cozy!</p>
        <button class="btn">View Stays</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Destinations</h2>
        <p class="copy">Roam the cities, and local roades, without getting lost!</p>
        <button class="btn">Show Me</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Restaurants</h2>
        <p class="copy">Check out these mouth watering cuisines!</p>
        <button class="btn">Take me There</button>
      </div>
    </div>
  </main>
</body>
</html>