{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/thailand.css' %}">
    <title>Trip-A-Go!</title>
</head>
<body>
<h1>Thailand</h1>
<h3>Thailand is a Southeast Asian country. It's known for tropical beaches, opulent royal palaces, ancient ruins and ornate temples displaying figures of Buddha. In Bangkok, the capital, an ultramodern cityscape rises next to quiet canalside communities and the iconic temples of Wat Arun, Wat Pho and the Emerald Buddha Temple (Wat Phra Kaew). Nearby beach resorts include bustling Pattaya and fashionable Hua Hin.</h3>   
<main class="page-content">
    <div class="card">
      <div class="content">
        <h2 class="title">Flights</h2>
        <p class="copy">The country of Romance, Art & Food!</p>
        <a href="bookingpagefrance.html" target="_blank">
            <button class="btn">View Flights</button>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Hotels</h2>
        <p class="copy">Luxirious and Cozy!</p>
        <button class="btn">View Stays</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Destinations</h2>
        <p class="copy">Roam the cities, and local roades, without getting lost!</p>
        <button class="btn">Show Me</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Restaurants</h2>
        <p class="copy">Check out these mouth watering cuisines!</p>
        <button class="btn">Take me There</button>
      </div>
    </div>
  </main>
</body>
</html>